<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Home</title>
    </head>
    <body>
		<h1>
			Logged in successfully.    
		</h1>
		<a th:href="@{/logout}">Logout</a>
    </body>
</html>